@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
 :root {
    --pink: linear-gradient(to right, #ffffff 0%, #030099 100%);
    --black: #030099;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: .2s linear;
    text-transform: capitalize;
}

*::selection {
    background: var(--pink);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}

body {
    background: var(--black);
}

section {
    padding: 3rem 9%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border: .2rem solid var(--black);
    color: var(--black);
    font-size: 1.7rem;
    padding: .8rem 3rem;
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: #ff2e2e;
    border-color: #ff2e2e;
    color: #ffffff;
}

.logoDiv {
    align-items: center;
    display: flex;
    margin: 0;
    width: 100px;
    height: 45px;
    transition: transform 0.1s;
}

.logoDiv:hover {
    transform: translateY(-2px)
}

.logoDiv>h2 {
    color: #030099;
    text-shadow: 0 .5rem 1rem #03009969;
}

.logo>img {
    width: 50px;
}

.heading {
    padding-bottom: 2rem;
    text-align: center;
}

.heading h1 {
    font-size: 4rem;
    color: #fff;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: var(--pink);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem #03009969;
}

header .navbar a {
    color: #ffffff;
    font-size: 2rem;
    margin-left: 0px;
}

header .navbar a:hover {
    color: #ff2121;
}

#menu-bar {
    font-size: 3rem;
    color: #fcfcfc;
    border-radius: .5rem;
    border: .1rem solid #ffffff;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex-basis: 34%;
    padding: 0;
    align-items: center;
}

.content>img {
    display: flex;
    margin-top: 100px;
    transition: transform 0.1s;
}

.content>img:hover {
    transform: translateY(-5px)
}

.design {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 33%;
    min-width: 20rem;
}

.design>img {
    display: flex;
    margin-top: 100px;
    align-items: center;
}

.home {
    display: flex;
    align-items: center;
    flex: wrap;
    justify-content: space-around;
    flex-direction: row;
    background-image: linear-gradient(to top, #030099 0%, #ffffff 100%);
    flex-basis: 100%;
    padding: 0px;
    height: 610px;
}

.home .content span {
    font-size: 3rem;
    color: var(--pink);
}

.home .content h3 {
    font-size: 6rem;
    color: var(--black);
    width: 60rem;
}

.step-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.step-container .step {
    background: #fff;
    margin: 1rem;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .9);
    text-align: center;
    flex: 1 1 30rem;
}

.step-container .step span {
    font-size: 7rem;
    color: var(--pink);
    font-weight: bolder;
}

.step-container .step h3 {
    font-size: 3rem;
    color: var(--black);
}

.step-container .step p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.vendor .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.vendor .box-container .box {
    flex: 1 1 30rem;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .9);
    height: 25rem;
    cursor: pointer;
}

.vendor .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.vendor .box-container .box .info {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    text-align: center;
    transform: scale(1.3);
    opacity: 0;
}

.vendor .box-container .box:hover .info {
    transform: scale(1);
    opacity: 1;
}

.vendor .box-container .box:hover img {
    transform: scale(1.3);
}

.vendor .box-container .box .info h3 {
    font-size: 3rem;
    color: var(--black);
}

.vendor .box-container .box .info p {
    font-size: 1.7rem;
    color: #333;
    padding: 1rem;
}

.clients .row {
    display: flex;
}

.clients .row .divider {
    padding: 0 1rem;
}

.clients .row .box-container .box img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    border: 2rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .9);
}

.clients .row .box-container .box .info {
    padding: 2rem 0;
}

.clients .row .box-container .box .info h3 {
    font-size: 2.5rem;
    color: #fff;
}

.clients .row .box-container .box .info p {
    font-size: 1.7rem;
    color: #aaa;
    padding: 1rem 0;
    font-style: italic;
}

.clients .row .box-container .box .info p i {
    color: var(--pink);
    padding: 0 .5rem;
}

.team .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.team .box-container .box {
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .9);
    background: #fff url(../images/card-bg.png) no-repeat;
    padding: 4.7rem 2rem;
    text-align: center;
    background-size: cover;
    flex: 1 1 33rem;
}

.team .box-container .box img {
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    padding: 1rem;
}

.team .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.team .box-container .box span {
    font-size: 2rem;
    color: var(--pink);
}

.team .box-container .box p {
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}

.team .box-container .box .share {
    padding: 1rem 0;
}

.team .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: #030099;
    background: rgb(255, 255, 255);
}

.team .box-container .box .share a:hover {
    color: #ffffff;
    background: #ff2121;
}

address {
    width: 100%;
    height: auto;
}

.conRow {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    width: 800px;
    height: 400px;
}

.conRow iframe {
    width: 100%;
    height: 100%;
}

.conRow .section-title {
    text-align: left;
    margin-bottom: 40px;
}

.cs-text .ct-address span {
    font-size: 16px;
    color: #ffffff;
}

.cs-text .ct-address p {
    font-size: 18px;
    color: #d7dafda9;
    line-height: 30px;
    margin-top: 8px;
}

.cs-text ul {
    margin-bottom: 22px;
}

.cs-text ul li {
    font-size: 18px;
    color: #d7dafda9;
    line-height: 36px;
    list-style-type: none;
    display: inline-block;
    margin-right: 42px;
}

.cs-text ul li:last-child {
    margin-right: 0;
}

.cs-text ul li span {
    font-size: 16px;
    color: #ffffff;
    display: block;
}

.cs-text .ct-links span {
    font-size: 16px;
    color: #ffffff;
}

.cs-text .ct-links p {
    font-size: 18px;
    color: #d7dafda9;
    line-height: 30px;
    margin-top: 8px;
}

.btn-grad {
    background-image: linear-gradient(to right, #030099 0%, #ffffff 51%, #030099 100%)
}

.btn-grad {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 45px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.575);
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.contact form {
    padding: 2rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .9);
    text-align: center;
}

.contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
    border: .2rem solid rgba(0, 0, 0, .1);
    font-size: 1.7rem;
    padding: 1.5rem;
    margin: 1rem 0;
    text-transform: none;
    color: #333;
}

.contact form .inputBox input {
    width: 49%;
}

.contact form textarea {
    height: 15rem;
    width: 100%;
    resize: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder {
    text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus {
    border-color: var(--pink);
}

.footer-section {
    background: #171822;
    padding-top: 0;
    padding-bottom: 20px;
}

.footer-text {
    text-align: center;
    padding-top: 10px;
}

.footer-text .ft-logo {
    margin-bottom: 20px;
}

.footer-text .ft-logo a {
    display: inline-block;
}

.footer-text ul {
    margin-bottom: 18px;
}

.footer-text ul li {
    list-style: none;
    display: inline-block;
    margin-right: 52px;
}

.footer-text ul li:last-child {
    margin-right: 0;
}

.footer-text ul li a {
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-text ul li a:hover {
    color: #f44949;
}

.footer-text .copyright-text {
    font-size: 14px;
    color: #a0a1b5;
    margin-bottom: 28px;
}

.footer-text .copyright-text i {
    color: #f44949;
}

.footer-text .copyright-text a {
    color: #a0a1b5;
}

.footer-text .copyright-text a:hover {
    color: #f44949;
}

.footer-text .ft-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #a3a3ae;
    border: 1px solid #45464e;
    border-radius: 50%;
    margin-right: 15px;
}

.footer-text .ft-social a:last-child {
    margin-right: 0;
}


/* media queries  */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:991px) {
    header {
        padding: 2rem 4%;
    }
    section {
        padding: 3rem 4%;
    }
}

@media (max-width:768px) {
    #menu-bar {
        display: block;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--black);
        padding: 1rem 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.nav-toggle {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a {
        display: block;
        background: #fff;
        border-radius: .5rem;
        color: var(--black);
        margin: 1.5rem;
        padding: 1rem 2rem;
        font-size: 2.5rem;
    }
    .home {
        height: 550px;
        width: auto;
    }
    .home .content img {
        width: 120%;
        height: 100%;
    }
    .design img {
        width: 100%;
        height: 100%;
    }
    .conRow iframe {
        width: 50%;
        height: auto;
    }
    .conRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 300px;
        height: 200px;
    }
    .clients .row {
        flex-flow: column;
    }
    .clients .row .divider {
        display: none;
    }
    .clients .row .box-container:last-child .box {
        display: flex;
        flex-flow: column-reverse;
    }
    .contact form .inputBox input {
        width: 100%;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 470px) {
    .home {
        height: 550px;
        width: auto;
    }
    .home .content img {
        width: 250%;
        height: 100%;
    }
    .design img {
        width: 100%;
        height: 100%;
    }
    .conRow iframe {
        width: 100%;
        height: auto;
    }
    .conRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 300px;
        height: 200px;
    }
}

@media only screen and (max-width: 370px) {
    .home .content img {
        width: 450%;
        height: 100%;
    }
    .design img {
        width: 100%;
        height: 100%;
    }
    .conRow iframe {
        width: 100%;
        height: auto;
    }
    .conRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 300px;
        height: 200px;
    }
}